{% extends 'emersonapp/base.html' %}

{% block content %}
    <h1 id="errorMessage" style="color:red" hidden>There was an error. Please ensure at least 1 field is entered, zip
        code is 5 digits exactly, and longitude and latitude are entered together.</h1>
    <form name="openweather_form" method="POST">
        {% csrf_token %}
        <div>
            <label for="zip_code">Zip Code</label>
            <input type="number" id="zip_code" name="zip_code"/>
        </div>
        <div>
            <label for="latitude">Latitude</label>
            <input type="text" id="latitude" name="latitude"/>
            <label for="longitude">Longitude</label>
            <input type="text" id="longitude" name="longitude"/>
        </div>
        <button type="submit">
            Submit
        </button>
    </form>
    <div id="results"></div>
{% endblock %}